/**
* 单页面page模块
* -m-page
*/
.m-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.m-fengye {
    background-image: url('../images/pic-bg.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.m-fengye-con {
    position: absolute;
    width: 84%;
    left: 8%;
    top: 50%;
    height: 280px;
    margin-top: -140px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    background: rgba(181, 181, 181, .4);
    border-radius: 5px;
}

.marry-user {
    color: #000;
    font-size: 2em;
    margin-top: 40px;
}

.marry-txt {
    font-size: 1.5rem;
    margin-top: 30px;
    color: #FF7AAB;
}

.marry-desc {
    font-size: 1.25rem;
    margin-top: 50px;
    color: #6F0514;
}

/* 囍 */
.spinner {
    color: #FF7AAB;
    font-family: "隶书";
    font-size: 65px;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 10px;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    -webkit-animation-direction: alternate;

}

@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px);
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }

}
.page-2 {
    background: #ABB395;
}
.txt {
    position: absolute;
    width: 80%;
    left: 10%;
    text-align: center;
    color: #FF7AAB;
    padding: 10px 0;
    line-height: 1;
    font-size: 1.25rem;
}
#img {
    height: 100%;
}
