/**
* 单页面page模块
* -page
*/
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.page-1 .content {
    position: absolute;
    width: 84%;
    left: 8%;
    top: 50%;
    height: 280px;
    margin-top: -140px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    background: rgba(181, 181, 181, .4);
    border-radius: 5px;
}

/*
* loading
* #load
*/
#load {
    width: 100%;
    text-align: center
}

.marry-user {
    color: #FF7AAB;
    font-size: 2em;
}

.marry-txt {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #000;
}

.marry-desc {
    font-size: 1.25rem;
    margin-top: 50px;
    color: #6F0514;
}

/* 囍 */
.spinner {
    color: #FF7AAB;
    font-family: "隶书";
    font-size: 65px;
    width: 60px;
    height: 60px;
    margin: 100px auto 10px auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    -webkit-animation-direction: alternate;

}

@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px);
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }

}

#pageload {
    position: relative;
}

.p-ct {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page-2 {
    background: #ABB395;
}

.txt {
    position: absolute;
    width: 80%;
    left: 10%;
    text-align: center;
    color: #FF7AAB;
    padding: 10px 0;
    line-height: 1;
    font-size: 1.25rem;
}

#img {
    height: 100%;
}
