/*loading*/

.spinner {
    color: red;

    font-family: "隶书";

    font-size: 65px;

    display: block;

    width: 60px;

    height: 60px;

    background-color: white;

    margin-top: 300px;

    margin-bottom: auto;

    margin-left: auto;

    margin-right: auto;

    -webkit-animation: rotateplane 1.2s infinite ease-in-out;

    animation: rotateplane 1.2s infinite ease-in-out;

    -webkit-animation-direction: alternate;

    animation-direction: alternate;

}

@-webkit-keyframes rotateplane {

    0% {
        -webkit-transform: perspective(120px)
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }

}

@keyframes rotateplane {

    0% {

        transform: perspective(120px) rotateX(0deg) rotateY(0deg);

        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)

    }
    50% {

        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);

        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)

    }
    100% {

        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);

        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);

    }

}

.load-txt {
    width: 100%;
    text-align: center;
}

.load-big-txt {
    color: red;
    font-size: 36px;
}

.load-normal-txt {
    font-size: 24px;
}