.txt-animation0 {
    bottom: 10px;
    left: 10%;
    opacity: 1;
    -webkit-animation: txt-animation0 1s;
}
.txt-animation1 {
    top: 45%;
    left: 10%;
    opacity: 1;
    -webkit-animation: txt-animation1 1s ease-in;
}
.texiao1 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-animation: diyizhang 2s linear;
}

.texiao4 {
    -webkit-animation: disizhang 1s linear;
    -webkit-transition: disizhang .7s linear;
}

.texiao4 {
    position: absolute;
    top: 4%;
    width: 100%;
    left: 10%;
    text-align: left;
}

@-webkit-keyframes txt-animation0 {
    0% {
        left: 0;
        opacity: 0;
    }
    100% {
        left: 10%;
        opacity: 1;
    }
}
@-webkit-keyframes txt-animation1 {
    0% {
        font-size: 10rem;
        opacity: 0;
    }
    100% {
        font-size: 1.25rem;
        opacity: 1;
    }
}

@-webkit-keyframes diyizhang {
    0% {
        top: 0;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        opacity: 0;
    }
    25% {
        top: 5%;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        opacity: 0.6;
    }
    50% {
        top: 11%;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        opacity: 1;
    }
    75% {
        top: 10%;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 100%;
        margin-left: 0;
        opacity: 1;
        border-radius: 0;
    }
}

@-webkit-keyframes disizhang {
    0% {
        right: 0%;
        opacity: 0; /*初始状态 透明度为0*/
    }
    50% {
        right: 2%;
        opacity: 0; /*初始状态 透明度为0*/
    }
    85% {
        right: 5%;
        opacity: 1; /*结尾状态 透明度为1*/
    }
    100% {
        right: 0;
        opacity: 1; /*结尾状态 透明度为1*/
    }
}


/*图片轮播*/
.pic01 {
    -webkit-animation: pic01out 2s;
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: right;
}

@-webkit-keyframes pic01out {
    0% {
        -webkit-transform: scale(2, 2);
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }
}

.pic02 {
    -webkit-animation: pic01out 2s;
    opacity: 0;
    -webkit-animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform-origin: left;
    position: absolute;
    top: 0;
    left: 0;
}

.pic03 {
    -webkit-animation: pic01out 2s;
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: right;
}

.pic04 {
    -webkit-animation: pic01out 2s;
    opacity: 0;
    -webkit-animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform-origin: left;
}

@-webkit-keyframes pic04out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}